.current_session {
  display: flex;
  align-items: baseline;
  padding: 1rem 2rem;
}

.current_session h2 {
  margin: 0rem 0.5rem;
}

.previous_sessions_container {
  padding: 1rem 2rem;
}

.previous_sessions_container p {
  margin-bottom: 0rem;
}

.previous_sessions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}

.previous_sessions h3 {
  display: flex;
  align-items: center;
}

.levels {
  padding: 0rem 0rem 0rem 4rem;
}

.level {
  padding: 0rem 0rem 0rem 2rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 1rem;
  width: 35rem;
}

.level div {
  display: flex;
  align-items: center;
}

.level button {
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.blue {
  background-color: #bbdefb;
}

.gray {
  background-color: #e0e0e0;
}

.course{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 50%;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    margin: 5px 0px;
    cursor: pointer;
}

.course:hover h3{
    scale: 1.01;
}

.course h3{
    display: flex;

}

.department .current_session{
  display: flex;
}

.departmental_courses{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.departmental_courses div{
  padding: 1rem 0rem 1rem 2rem;
}

.departmental_courses div div{
  display: flex;
  align-items: center;
}

.departmental_courses div button {
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.departmental_courses div button:hover{
  scale: 1.03;
}

.departmental_courses div .first{
  background-color: #bbdefb;
}

.departmental_courses div .second{
  background-color: #e0e0e0;
}