.student_dashboard {
  padding: 1rem;
}
.student_dashboard_header_img {
  width: 2rem;
  height: 2rem;
}

.student_dashboard_header_img img {
  width: 100%;
  height: 100%;
}

.student_dashboard_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student_dashboard_header_title {
  text-align: center;
}

.student_dashboard_header_title h3 {
  margin: 0rem;
}

.student_dashboard_body {
  padding: 1rem 2rem;
}

.student_dashboard_body_title {
  padding: 1rem 0rem;
}

.student_dashboard_body_title h2 {
  margin: 0rem;
}

.student_dashboard_body_details {
  display: flex;
}

.student_dashboard_body_details p {
  margin: 0rem 1rem 0rem 0rem;
}

.student_dashboard_body_details select {
  border: none;
  font-weight: bold;
  font-size: medium;
}

.student_dashboard_body_details select:focus {
  outline: none;
}

.table td {
  padding: 0.5rem;
}

.gp_table {
  display: grid;
  grid-template-columns: 1fr 30%;
  padding-left: 2rem;
  /* margin-top: 1rem; */
}

.gp_table div {
  display: flex;
  align-items: center;
}

.gp_table div div {
  display: flex;
  margin-right: 4rem;
}

.gp_table div div p {
  margin-right: 0.2rem;
}

.transcript_button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.transcript_button button {
  border: none;
  background-color: #020263;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: medium;
}
