.course_reg_upload select {
  text-transform: uppercase;
  height: 2rem;
  border: 1px solid #020263;
  border-radius: 2px;
  margin: 0rem 1rem;
}

.course_reg_upload select:focus {
  outline: none;
}

.course_reg_upload button {
  border: none;
  border-radius: 2px;
  background-color: #020263;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.course_reg_upload {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1px solid #020263;
}

.external_course_reg_upload {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.1px solid #020263;
}

.external_course_reg_upload input{
  height: 2rem;
  border: none;
  border-bottom: #020263 solid 1px;
  margin: 0rem 1rem;
}

.external_course_reg_upload input:focus{
  outline: none;
  background-color: #e6f0f7;
}

.external_course_reg_upload button {
  border: none;
  border-radius: 2px;
  background-color: #020263;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-right: 5rem;
}

.table {
  /* width: 100%; */
  padding: 1rem 0rem;
  text-align: left;
  text-transform: uppercase;
  font-size: small;
}

.table table {
  width: 100%;
}

.table table th{
  padding: 0.1rem 0.3rem;
}

.center{
  text-align: center;
}

.current_session button{
   background-color: #020263;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0.5rem 3rem;
}